.content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6f5fa;
  }
  
  .parent {
    margin: 32px;
    width: 100%;
  }
  .heading {
    font-size: 2rem;
  }
  .choice {
    display: flex;
    justify-content: space-between;
  }
 
  .search {
    .form-search {
        display: flex;
    }
      #search {
        margin-right:16px;
      }
  }