.content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6f5fa;
}
.parent {
    margin: 32px;
    width: 100%;
}


.box {
    border-radius: 10px;
    // border-top-left-radius: 10px;
    // border-top-right-radius: 10px;
    background-color: #fff;
    // margin: 16px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}
.box_header {
    .title {
        color: #858585;
        margin-left:16px;
    }
}
.box_body {
    text-align: center;

}
.box_footer {
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.box_footer.connected {
    background-color: #62de6a;
}
.box_footer.disconnected {
    background-color: #f44336;
}
.status {
    margin: 0;
    font-size: 1.5rem;
}
.row-first {
    margin-right: 0px;
    margin-left: 0px;
}
.row-second {
    margin-top: 32px;
    margin-right: 0px;
    margin-left: 0px;
}

.control-panel {
    border-radius: 10px;
    padding: 8px 16px;
    background-color: #fff;
}
.control-panel-body__device-status{
    text-align: center;
    font-size:1.5rem;
}
.control-panel-body__device-action{
    text-align: center;
    display: none;
}

.device_actived {
    color: yellow;
}

// .status {
//     display: none;
// }

.box-chart {
    justify-content: flex-start;
}


#automatic {
    margin-right: 16px;
}



.control-panel-body__device.connected {
    .control-panel-body__device-action {
        display: block;
    }
    .status {
        display: none;
    }
}

.on {
    button {
        background-color: #62de6a!important;
    }

}
.control-panel-body__device-action button {
    background-color: #f44336;
}

#select_device {
    width: 50%;
}